img{
    filter: contrast(150%);
    width: 28.6%;
    float: left;
    margin: 1.66%;
    border-bottom: 5px solid rgb(109, 107, 107);
    border-top: 5px solid rgb(109, 107, 107);
    border-right: 5px solid white;
    border-left: 5px solid rgb(83, 83, 83);
}
p{
    font-family: 'Rubik', sans-serif;
    margin-left: 1.6%;
    font-size: 23px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px grey;
    border-bottom: 5px solid rgb(109, 107, 107);
    border-top: 5px solid rgb(109, 107, 107);
    border-left: 5px solid white;
    border-right: 5px solid white;
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
}